<ion-view title="Barkod">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header has-footer padding card-background">
    <div class="row card-margin" id="cardPreview">
      <div class="col text-center">
        <h3><b><i class="ion ion-person mpc-red"></i><span class="mpc-blue"> Petar Mrazović</span></b></h3>
        <h4 class="mpc-blue">(0110 00302 78292)</h4>
        
        <div class="card-container">
          <div class="card-barcode" id="barcodeSmall"></div>
        </div>
        <h4><b><i class="ion ion-loop mpc-red"></i><span class="mpc-blue"> Okrenite za uvećanje</span></b></h4>
      </div>
    </div>
    <div>
      <div id="barcode" style="display: none; margin: 0 auto;"></div>
    </div>
  </ion-content>  
</ion-view>