<ion-view title="Stanje bodova">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header has-footer padding">

    <div class="row">
      <div class="col col-10" style="text-align: left;">
        <a class="button ion-chevron-left button-positive button-small"></a>
      </div>
      <div class="col col-80 text-center text-middle">
      <small>Bodovi u razdoblju</small>
      <p class="positive"><b>01.03.2014. - 01.05.2014.</b></p>
      </div>
      <div class="col col-10" style="text-align: right;">
        <a class="button ion-chevron-right button-positive button-small"></a>
      </div>
    </div>

    <div class="row table-row mpc-red text-middle" style="margin-bottom: 20px;">
      <div class="col col-67 positive"><h5>STANJE (BODOVI / DIN)</h5></div>
      <div class="col col-33 text-right"><h5><b>300 / 20</b></h5></div>
    </div>

    <div class="row table-row mpc-red active">
      <div class="col col-33"><b>Partner</b></div>
      <div class="col col-20"><b>Bodovi</b></div>
      <div class="col col-20"><b>Prag</b></div>      
      <div class="col col-20"><b>Iznos</b></div>
      <div class="col col-10"></div>
    </div>

    <div class="row table-row">
      <div class="col col-33 positive"><b>IDEA</b></div>
      <div class="col col-20"><b>500</b></div>
      <div class="col col-20">400</div>
      <div class="col col-20"><b>200 Din</b></div>      
      <div class="col col-10"><i class="ion ion-android-information positive"></i></div>
    </div>

    <div class="row table-row">
      <div class="col col-33 positive"><b>NIS Petrol</b></div>
      <div class="col col-20">50</div>
      <div class="col col-20">200</div>
      <div class="col col-20">0 Din</div>      
      <div class="col col-10"><i class="ion ion-android-information positive"></i></div>
    </div>    

    <div class="row table-row">
      <div class="col col-33 positive"><b>Telenor</b></div>
      <div class="col col-20">0</div>
      <div class="col col-20">200</div>
      <div class="col col-20">0 Din</div>      
      <div class="col col-10"><i class="ion ion-plus-circled balanced"></i></div>
    </div>

    <div class="row table-row">
      <div class="col col-33 positive"><b>Sberbank</b></div>
      <div class="col col-20">0</div>
      <div class="col col-20">200</div>
      <div class="col col-20">0 Din</div>      
      <div class="col col-10"><i class="ion ion-alert-circled assertive"></i></div>
    </div>
  </ion-content>
</ion-view>
