<ion-view title="Informacije">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header has-footer padding">
    <div class="list">
      <a class="item item-icon-left" href="#/app/info/about">
        <i class="icon ion-android-information"></i>
        O programu
      </a>
      <a class="item item-icon-left" href="#/app/info/collecting">
        <i class="icon ion-calculator"></i>
        Sakupljanje bodova
      </a>
      <a class="item item-icon-left" href="#/app/info/spending">
        <i class="icon ion-bag"></i>
        Iskorištavanje bodova
      </a>
      <a class="item item-icon-left" href="#/app/info/faq">
        <i class="icon ion-help-circled"></i>
        Najčešće postavljena pitanja
      </a>
      <a class="item item-icon-left" href="#/app/info/news">
        <i class="icon ion-calendar"></i>
        Novosti
      </a>
      <a class="item item-icon-left" href="#/app/info/contact">
        <i class="icon ion-ios7-telephone"></i>
        Kontakt
      </a>                
    </div>
  </ion-content>
</ion-view>
