<ion-side-menus>

  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-stable nav-title-slide-ios7 bar-mpc">
      <ion-nav-back-button class="button-clear"><i class="icon ion-chevron-left"></i></ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
      <div class="bar bar-footer bar-mpc">
    <div class="title"><b>Super<span class="mpc-red">Kartica</span></b></div>
  </div> 
  </ion-pane>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-stable bar-mpc">
      <h1 class="title">Izbornik</h1>
    </header>
    <ion-content class="has-header">
      <ion-list class="list">
        <a nav-clear menu-close class="item item-icon-left" href="#/app/card">
          <i class="icon ion-card"></i>
          SuperKartica
          <span class="item-note">
            Barkod
          </span>
        </a>
        <a nav-clear menu-close class="item item-icon-left" href="#/app/credits">
          <i class="icon ion-calculator"></i>
          Stanje bodova
        </a>        
        <a nav-clear menu-close class="item item-icon-left" href="#/app/info">
          <i class="icon ion-android-information"></i>
          Informacije
        </a>
        <a nav-clear menu-close class="item item-icon-left" href="#/app/notices">
          <i class="icon ion-android-reminder"></i>
          Obavesti
          <span class="badge badge-assertive">2</span>
        </a>
        <a nav-clear menu-close class="item item-icon-left" href="#/app">
          <i class="icon ion-log-out"></i>
          Odjavi se          
        </a>       
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
