<ion-view title="Obavesti">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header has-footer padding">
    <h1>Obavesti</h1>
  </ion-content>
</ion-view>