<ion-view title="O programu">
  <ion-content class="has-header has-footer padding">
    <h2 class="mpc-red">O programu</h2>
    <p>
      Super Kartica je program nagrađivanja u koji je uključeno više partnera i svaki od njih Vas nagrađuje za kupovinu ili korišćenje njihovih usluga. 
      Sa Super Karticom ste uvek na dobitku jer svaki dan imate mogućnost dobijana bodova, NA KUĆNU ADRESU VAM ŠALJEMO BONOVE ZA KUPOVINU.
    </p>
  </ion-content>
</ion-view>
