<ion-view title="Sakupljanje bodova">
  <ion-content class="has-header has-footer padding">
    <div class="list">

      <div class="item item-thumbnail-left item-text-wrap">
        <img src="img/idea.png">
        <h2>IDEA</h2>
        <p>
          Sakupljajte bodove kupujući u preko 180 IDEA prodavnica širom Srbije. U IDEI Vas očekuje bogata ponuda kvalitetnih proizvoda po povoljnim cenama.          
        </p>
      </div>
      <div class="item item-thumbnail-left item-text-wrap">
        <img src="img/nis.png">
        <h2>NIS Petrol</h2>
        <p>
          Sakupljajte bodove na preko 350 NIS Petrol benzinskih stanica širom Srbije. Očekuju Vas sve vrste goriva vrhunskog kvaliteta i usluga po evropskim standardima.          
        </p>
      </div>
      <div class="item item-thumbnail-left item-text-wrap">
        <img src="img/telenor.png">
        <h2>Telenor</h2>
        <p>
          Sakupljajte bodove na osnovu potrošnje Vašeg Telenor pripejd broja. Ostvarite pravo na bonus dopune za Vaš pripejd broj i uživajte u komunikaciji u Telenor Pametnoj mreži.         
        </p>
      </div>
      <div class="item item-thumbnail-left item-text-wrap">
        <img src="img/sberbank.png">
        <h2>Sberbank</h2>
        <p>
          Koristite proizvode i usluge Sberbank i na taj način ostvarite mogućnost dobijanja dodatnih bodova.
          Budite na pravom mestu, posetite neku od ekspozitura Sberbank, očekuju Vas bankarski proizvodi i usluge u skladu sa Vašim potrebama.         
        </p>
      </div>
    </div>

  </ion-content>
</ion-view>
