<ion-view title="Kontakt">
  <ion-content class="has-header has-footer padding">
    <div class="list card">
      <div class="item item-divider">
        Super Kartica d.o.o.
      </div>
      <div class="item item-body">
        <img class="full-image" src="img/super-kartica.png">
        <p>
          Bulevar Mihajla Pupina 4<br />
          11070 Novi Beograd<br />
          Srbija            
        </p>
      </div>

  <div class="item tabs tabs-icon-left">
    <a class="tab-item" href="#">
      <i class="icon ion-earth"></i>
      Web
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-android-mail"></i>
      Email
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-android-call"></i>
      Zovi
    </a>
  </div>
  </ion-content>
</ion-view>