<ion-view title="FAQ">
  <ion-content class="has-header has-footer padding">
    <div class="list">
        <a ng-repeat="question in questions" class="item item-icon-left" href="#/app/info/faq/{{question.id}}">
          <i class="icon ion-help-circled"></i>
          {{question.title}}
        </a>
    </div>    
  </ion-content>
</ion-view>