<ion-view title="Iskorištavanje bodova">
  <ion-content class="has-header has-footer padding">
    <div class="list">

      <div class="item item-thumbnail-left item-text-wrap">
        <img src="img/idea.png">
        <h2>IDEA</h2>
        <p>
          Iskoristite bonove za kupovinu kao i mnoge druge povoljnosti u preko 180 IDEA prodavnica širom Srbije.  U IDEI Vas očekuje bogata ponuda kvalitetnih proizvoda po povoljnim cenama.          
        </p>
      </div>
      <div class="item item-thumbnail-left item-text-wrap">
        <img src="img/nis.png">
        <h2>NIS Petrol</h2>
        <p>
          Iskoristite bonove za kupovinu na preko 350 NIS Petrol benzinskih stanica širom Srbije. Očekuju Vas sve vrste goriva vrhunskog kvaliteta i usluga po evropskim standardima.         
        </p>
      </div>
      <div class="item item-thumbnail-left item-text-wrap">
        <img src="img/telenor.png">
        <h2>Telenor</h2>
        <p>
          Iskoristite prikupljene bodove na dopunu Vašeg Telenor pripejd broja i uživajte u komunikaciji u Telenor Pametnoj mreži.        
        </p>
      </div>
    </div>
  </ion-content>
</ion-view>
