@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    src: url(../fonts/Ubuntu-Regular.ttf) format('truetype');
}

a, h1, h2, h3, h4, h5, h6, p, .h1, .h2, .h3, .h4, .h5, .h6 .item, .item-divider {
  font-family: 'Ubuntu', cursive;
}
.mpc-red {
  color: #e91e24 !important;
}
.mpc-blue {
  color: #346baa;
}
.bar.bar-mpc {
  border-color: #111;
  background-color: #346baa;
  background-image: linear-gradient(0deg, #111, #111 50%, transparent 50%);
  color: #fff; 
}
.bar.bar-mpc .title {
   color: #fff; 
 }
.bar-mpc .button {
  border-color: #111;
  background-color: #00509f;
  color: #fff; 
}
.bar-mpc .button:hover {
  color: #fff;
  text-decoration: none; 
}
.bar-mpc .button.active {
  border-color: #000;
  background-color: #569cde;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.15); 
}
.bar-mpc .button.button-clear {
  border-color: transparent;
  background: none;
  box-shadow: none;
  color: #fff;
  font-size: 17px; 
}
.bar-mpc .button.button-icon {
  border-color: transparent;
  background: none; 
}
.text-center {
  text-align: center !important;
}
.text-right {
  text-align: right !important;
}
.text-left {
  text-align: left !important;
}
.text-middle {
  vertical-align: middle !important;
}
.row.table-row {
  border:thin #346BAA solid;
  background-color: #FFF;
  vertical-align: middle !important;
}
.row.table-row.active {
  background-color: #EEE;
}

.card-container {
  position: relative;
  background: url(../img/card.png) center no-repeat;
  width: 308px;
  height: 193px;
  margin: 0 auto;
  margin-top: 40px;
}
.card-barcode {
  position: absolute;
  bottom: 10px;
  left: 22px; 
}

.scroll-content {
  background: url('../img/background-pattern.png') repeat;
}
.scroll-content:before {
  content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  background-image: -webkit-gradient(
    linear,
    left top,
    left top,
    color-stop(0, #FFFFFF),
    color-stop(1, #C9E3FF)
  );
  background-image: -o-linear-gradient(left top, #FFFFFF 17%, #C9E3FF 100%);
  background-image: -moz-linear-gradient(left top, #FFFFFF 17%, #C9E3FF 100%);
  background-image: -webkit-linear-gradient(left top, #FFFFFF 17%, #C9E3FF 100%);
  background-image: -ms-linear-gradient(left top, #FFFFFF 17%, #C9E3FF 100%);
  background-image: linear-gradient(to left top, #FFFFFF 17%, #C9E3FF 100%);
  }

/*.scroll-content {
  background-image: -webkit-gradient(
    linear,
    left top,
    left top,
    color-stop(0, #FFFFFF),
    color-stop(1, #C9E3FF)
  );
  background-image: -o-linear-gradient(left top, #FFFFFF 17%, #C9E3FF 100%);
  background-image: -moz-linear-gradient(left top, #FFFFFF 17%, #C9E3FF 100%);
  background-image: -webkit-linear-gradient(left top, #FFFFFF 17%, #C9E3FF 100%);
  background-image: -ms-linear-gradient(left top, #FFFFFF 17%, #C9E3FF 100%);
  background-image: linear-gradient(to left top, #FFFFFF 17%, #C9E3FF 100%);
  }*/